h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

flex-container {
  display: flex;
  width: 400px;
  height: 250px;
  background-color: red;
}

flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    margin: 10px;
}

my-bg {
  background-color: red;
  border: 2px solid red;
}
